@import '~@/assets/styles/links.scss';
body {
  box-sizing: border-box;
  font-family: var(--font-stack-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}

.fitx-dark-theme {
  &,
  .docs-story {
    background-color: var(--brand-color-anthracite);
  }
}

table.sbdocs {
  // width: 100%;
  text-align: left;
}

a:any-link {
  @include text-links();
}
