:where(html) {
  --font-stack-normal: 'Niveau Grotesk', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  --color-error-text: var(--functional-color-error-0);
}

:where(html) {
  font-family: var(--font-stack-normal);

  --fitx-label-color: var(--brand-color-gray-carbon);
  --fitx-label-color-activated: var(--fitx-label-color);
  --fitx-label-color-disabled: var(--brand-color-gray-cement);
  --fitx-label-color-error: var(--color-error-text);
}

:where([data-theme='dark'], [data-theme='touchpoint-dark']) {
  --fitx-label-color: var(--brand-color-gray-stone);
  --fitx-label-color-activated: var(--brand-color-gray-cement);
}
