:where(html) {
  --font-stack-normal: 'Niveau Grotesk', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  --color-error-text: var(--functional-color-error-0);
}

:where(html) {
  font-family: var(--font-stack-normal);
  color: var(--fitx-color-text);

  --fitx-color-text: var(--brand-color-anthracite-0);

  --fitx-label-color: var(--brand-color-gray-carbon);
  --fitx-label-color-activated: var(--fitx-label-color);
  --fitx-label-color-disabled: var(--brand-color-gray-cement);
  --fitx-label-color-error: var(--color-error-text);
}

:where([data-theme='dark'], [data-theme='touchpoint-dark']) {
  --fitx-label-color: var(--brand-color-gray-stone);
  --fitx-label-color-activated: var(--brand-color-gray-cement);
}

:where(html) {
  --fitx-color-text: var(--primary-brand-color-white);

  --fitx-button-color: var(--primary-brand-color-white);
  --fitx-button-color-background: var(--primary-brand-color-orange);
  --fitx-button-color-background-hover: var(--brand-color-orange-1);
  --fitx-button-color-disabled: var(--brand-color-gray-cement);
  --fitx-button-color-background-disabled: var(--brand-color-gray-chalk);

  --fitx-button-color-secondary: var(--brand-color-anthracite-0);
  --fitx-button-color-background-secondary: transparent;
  --fitx-button-color-background-hover-secondary: var(--brand-color-gray-chalk);
  --fitx-button-color-disabled-secondary: var(--brand-color-gray-cement);
  --fitx-button-color-background-disabled-secondary: transparent;
  --fitx-button-color-border-secondary: var(--brand-color-anthracite-0);

  --fitx-button-color-tertiary: var(--brand-color-anthracite-0);
  --fitx-button-color-background-tertiary: var(--brand-color-white-0);
  --fitx-button-color-background-hover-tertiary: var(--brand-color-gray-chalk);
  --fitx-button-color-disabled-tertiary: var(--brand-color-gray-cement);
  --fitx-button-color-background-disabled-tertiary: var(--brand-color-white-0);
  --fitx-button-color-border-tertiary: var(--brand-color-gray-ash);
}

:where([data-theme='dark'], [data-theme='touchpoint-dark']) {
  --fitx-button-color-background-disabled: var(--brand-color-anthracite-3);

  --fitx-button-color-secondary: var(--brand-color-white-0);

  --fitx-button-color-background-hover-secondary: var(--brand-color-anthracite-3);
  --fitx-button-color-border-secondary: var(--brand-color-white-0);

  --fitx-button-color-tertiary: var(--brand-color-white-0);
  --fitx-button-color-background-tertiary: transparent;
  --fitx-button-color-background-hover-tertiary: var(--brand-color-anthracite-3);
  --fitx-button-color-background-disabled-tertiary: transparent;

  .btn--secondary:is([disabled], .btn--disabled) {
    --fitx-button-color-border-secondary: var(--brand-color-anthracite-3);
  }

  --fitx-link-color-secondary: var(--brand-color-white-0);
  --fitx-link-color-secondary-hover: var(--brand-color-white-2);
}
