:where(html) {
  --icon-size-px-mini: 18px;
  --icon-size-px-small: 20px;
  --icon-size-px-medium: 24px;
  --icon-size-px-large: 30px;

  --icon-size-mini: 1.125rem; /* 18px / 16px = 1.125rem */
  --icon-size-small: 1.25rem; /* 20px / 16px = 1.25rem */
  --icon-size-medium: 1.5rem; /* 24px / 16px = 1.5rem */
  --icon-size-large: 1.875rem; /* 30px / 16px = 1.875rem */
}
