// -----------------------------------------------------------------------------
// Required Styles
// -----------------------------------------------------------------------------
// @import '~@/assets/styles/colors.scss';
// @import '~@/assets/styles/fonts.scss';
@import '~@/assets/styles/colors.scss';
@import '~@/assets/styles/fonts.scss';
@import '~@/assets/styles/form.scss';
@import '~@/assets/styles/links.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
  Font Size 10px is Required for correct displaying components.
  We use rem in all components
 */
:root {
  --font-stack-normal: 'Niveau Grotesk',
  'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  @include brand-colors();
  @include functional-colors();
  @include input-vars();
}

.link {
  @include text-links();
}

.link-decent {
  @include text-links-decent();

  &--dark {
    @include text-links-decent(dark);
  }
}
