// -----------------------------------------------------------------------------
// Required Styles
// -----------------------------------------------------------------------------

@import '~@/assets/styles/fonts.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
  Font Size 10px is Required for correct displaying components.
  We use rem in all components
 */
:root {
  --font-stack-normal: 'Niveau Grotesk',
  'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
